
.icon-0:before {
    content:"\f056"
}

.icon-1:before {
    content:"\f073"
}

.icon-2:before {
    content:"\f073"
}

.icon-3:before {
    content:"\f01e"
}

.icon-4:before {
    content:"\f01e"
}

.icon-5:before {
    content:"\f017"
}

.icon-6:before {
    content:"\f017"
}

.icon-7:before {
    content:"\f017"
}

.icon-8:before {
    content:"\f017"
}

.icon-9:before {
    content:"\f019"
}

.icon-10:before {
    content:"\f017"
}

.icon-11:before {
    content:"\f01a"
}

.icon-12:before {
    content:"\f01a"
}

.icon-13:before {
    content:"\f01b"
}

.icon-14:before {
    content:"\f01b"
}

.icon-15:before {
    content:"\f01b"
}

.icon-16:before {
    content:"\f01b"
}

.icon-17:before {
    content:"\f015"
}

.icon-18:before {
    content:"\f017"
}

.icon-19:before {
    content:"\f014"
}

.icon-20:before {
    content:"\f014"
}

.icon-21:before {
    content:"\f014"
}

.icon-22:before {
    content:"\f014"
}

.icon-23:before {
    content:"\f014"
}

.icon-24:before {
    content:"\f021"
}

.icon-25:before {
    content:"\f021"
}

.icon-26:before {
    content:"\f013"
}

.icon-27:before {
    content:"\f031"
}

.icon-28:before {
    content:"\f002"
}

.icon-29:before {
    content:"\f031"
}

.icon-30:before {
    content:"\f002"
}

.icon-31:before {
    content:"\f02e"
}

.icon-32:before {
    content:"\f00d"
}

.icon-33:before {
    content:"\f083"
}

.icon-34:before {
    content:"\f002"
}

.icon-35:before {
    content:"\f015"
}

.icon-36:before {
    content:"\f072"
}

.icon-37:before {
    content:"\f01e"
}

.icon-38:before {
    content:"\f01e"
}

.icon-39:before {
    content:"\f01e"
}

.icon-40:before {
    content:"\f01a"
}

.icon-41:before {
    content:"\f01b"
}

.icon-42:before {
    content:"\f01b"
}

.icon-43:before {
    content:"\f01b"
}

.icon-44:before {
    content:"\f083"
}

.icon-45:before {
    content:"\f01e"
}

.icon-46:before {
    content:"\f01b"
}

.icon-47:before {
    content:"\f01e"
}